body {
    color: #666;
    padding-top: 60px;
    margin:0;
    background: url("../img/bg.png") repeat scroll 0 0 #F5F5F5;
    font-family: Arial, Tahoma, Verdana, "\5fae\8f6f\96c5\9ed1";
}

.reg-login-title {
    line-height: 40px;
    margin: 5px 0 20px 0;
    padding: 0;
}

.reg-login-title h2 {
    color: #5D6473;
    float: left;
    font-size: 26px;
    font-weight: 400;
    padding: 0 0 0 10px;
    text-shadow: 1px 1px 0 #FFFFFF;
}

.reg-login-title .reg-step {
    float: right;
    line-height: 20px;
    list-style: decimal inside none;
    margin-top: 22px;
}

.reg-login-title .reg-step li {
    color: #333333;
    float: left;
    margin: 0 8px;
}

.reg-login-title .reg-step li.current {
    color: #3399CC;
}

.navbar .brand{
    margin:0;
    padding:0;
}
.white-panel, .page-box, .reg-login-box {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.06);
    color: #333333;
    margin-bottom: 40px;
    padding: 0;
}

.reg-login-box {
    padding: 30px 0px;
}

.reg-login-box a {
    color: #3399CC;
}

.reg-login-box .reg-tip {
    text-align: center;
    border-bottom: 1px dotted #CCCCCC;
    padding-bottom: 10px;
}

.reg-login-box .reg-tip h2 {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
}

.reg-login-box .reg-mail {
    border-bottom: 1px dotted #CCCCCC;
    padding: 20px 0;
    color: #666;
}

.reg-login-box .reg-help {
    padding-top: 10px;
    color: #666;
}

.reg-login-box .reg-help h4 {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
}

.reg-login-form {
    padding-top: 20px;
}

.login-tip{
    padding-top:20px;
}

.copyright {
    color: #333333;
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
}

.box-split {
    background: url("../img/box-split.png") no-repeat right -80px;
}

.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn {
    padding: 8px 20px;
}

.btn-primary {
    border-top: 1px solid #3174ce;
    border-bottom: 1px solid #123358;
    background-color: #0067b1;
    *background-color: #0f4d84;
    background-image: -ms-linear-gradient(top, #0067b1, #0f4d84);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0067b1), to(#0f4d84));
    background-image: -webkit-linear-gradient(top, #0067b1, #0f4d84);
    background-image: -o-linear-gradient(top, #0067b1, #0f4d84);
    background-image: -moz-linear-gradient(top, #0067b1, #0f4d84);
    background-image: linear-gradient(top, #0067b1, #0f4d84);
    background-repeat: repeat-x;
    border-color: #0067b1 #0067b1 #0f4d84;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr = '#0067b1', endColorstr = '#0f4d84', GradientType = 0);
    filter: progid:dximagetransform.microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background-color: #0f4d84;
    *background-color: #0067b1;
}

.btn-success {
    border-top: 1px solid #85bd12;
    border-bottom: 1px solid #398608;
    background-color: #85bd12;
    background-color: #398608;
    background-image: -moz-linear-gradient(top, #85bd12 0%, #398608 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #85bd12), color-stop(100%, #398608));
    background-image: -webkit-linear-gradient(top, #85bd12 0%, #398608 100%);
    background-image: -o-linear-gradient(top, #85bd12 0%, #398608 100%);
    background-image: -ms-linear-gradient(top, #85bd12 0%, #398608 100%);
    background-image: linear-gradient(top, #85bd12 0%, #398608 100%);
    background-repeat: repeat-x;
    color: white;
    text-shadow: 0px -1px 0 #2b6407;
    filter: dropshadow(color = #000, offx = 0, offy = -1);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #398608;
    *background-color: #85bd12;
}


#login-face{float:left;margin-right:5px;}
#login-face img{float:left;}

.navbar-inverse .navbar-inner {background: #111;padding:10px 0 0 0;margin:0}